html {
background: url("../images/letters.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

#container{
    width: 100px;
    height: 100px;
    background-color: rgba(240, 248, 255, 0.699);
    border: black 1px solid;
}



h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(234, 234, 241);
    background-color: rgb(30, 116, 116);
    float: center;
    text-align: center;
}